html
    head
        title Signup
        script
            include ../public/signup.js
        style

    body
        #formDiv
            form#signup
                input(placeholder="Enter Email", name="email", type="email")
                input(placeholder="Enter Password", type="password", name="password", minLength=7)
                input(placeholder="Confrim Password", type="password", name="password", minLength=7)
        
        button#submitSignup Signup