html
    head
        title Signup
        script
            include ../public/signup.js
        style
            include ../public/signup.css

    body
        #Container 
            h1 Sign Up
            #formDiv
                form#signup
                    label Email
                    input#email(placeholder="Enter Email", name="email", type="email")

                    label Password
                    input#password(placeholder="Enter Password", type="password", name="password", minLength=7)

                    label Confrim Password
                    input#confirmPass(placeholder="Confrim Password", type="password", name="password", minLength=7)
            
                button#submitSignup Sign Up

            p#passMsg(style=("display: none"))

            p#goToLogin
                text Already have an account?
                br
                a(href= "http://localhost:5000/login") Login