html
    head
        title Signup
        script
            include ../public/signup.js
        style
            include ../public/signup.css

    body
        #Container 
            h1 Sign Up
            #formDiv
                form#signup
                    input(placeholder="Enter Email", name="email", type="email")
                    input(placeholder="Enter Password", type="password", name="password", minLength=7)
                    input(placeholder="Confrim Password", type="password", name="password", minLength=7)
            
                button#submitSignup Signup

            p#passMsg(style=("display: none")) Enter Passwords

            p#goToLogin
                text Already have an account?
                br
                a(href= "http://localhost:5000/login") Login