html
    head
        title= titleVariable
        // title is assigned a variable value declared in the render call of the route
    body
        h1 Welcome to the Home Page
        h2.headingClass#headingID= subHead