body {
    text-align: center;
}

#Container {
    margin: auto;
    width: 175px;
    height: 50%;
}

#formDiv {
    border-style: solid;
    border-color: black;
    padding-top: 2%;
}

#signup {
    margin: 2%;
}

#formDiv button {
    margin: 2%
}